.centerpanel {
font-size: 28px;
width:100%;
height:100%;
text-align: center;
}
.leftpanel {
display:inline-block;
    margin-bottom:10px !important;
width:50%;
}
.rightpanel {
display:inline-block;
width:50%;
}