.form-demQuestionnaire-age {
  font-family: MESFont2, sans-serif;
  
  color: white;
  border: 0.5px solid rgba(245, 245, 245, 0);

  height: 50px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.20);
  border-radius: 0px;
  
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

#1{

}

.age_title{
  color: white;
  float: left;
margin-top: 40px;
}

.gender_title_text{
  color: white;
  float: left;
}
.gender_text{
  color: white;
}