.rec-list_4you {
  margin-top: 130px;

  h1{
    color: white;
    text-align: center;
    font-family: MESFont5,sans-serif;
    margin-bottom: 60px;
    font-size: 4vw;
  }
  li{
    border: 3px solid rgba(255, 255, 255, 0.3);
    padding-top: 30px;
    padding-bottom: 30px;
  }
}