@import "../_imports/colors";

.rating {
  margin-bottom: 20px;
  margin-top: -20px;
}

.star {
  margin-top: 10pt;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: $base_color;
  border: none;
  font-size: 14px;
  color: white;
  &:focus{
    outline: none !important;
  }
  &:hover {
    background-color: $base_color_hover;
    transition: all .3s;
  }
  &:active {
    background-color: $green_MES;
  }

  &.selected {
    background-color: $green_MES;
  }

  &.not-selected {
    background-color: #73828b;
  }
}

#rate_ex {
  margin-top: 60px;
  margin-bottom: 20px;
}

#rate_sup {
  position: relative;

  h2{
    margin-bottom: 30px;
    margin-top: -70px;
    text-shadow: 2px 2px 4px black;
  }
}

