

#Welcome_container {
 width: 100%;
     

    text-align:center;
}
#webcam {
 margin: 0 0 10px 10px;
}

#progress {
 width: 400px;
 margin: auto;
      height: 1px;}

#Welcome_left {
	color: #FFFFFF;
    float:left;
    margin: 0 0 10px 10px;
    width:100px;
     display: inline-block;
}

#Welcome_center {
 	color: #FFFFFF;
    display: inline-block;
	text-align:center;
    font-size: 40px;
}
